<script type="text/javascript">

Highcharts.theme = {
    colors: [
        '#ff5b5b',
        '#4b5bff',
        '#cccccc',
        '#999999',
        '#777777',
        '#444444',
        '#000000',
    ]
}
Highcharts.setOptions(Highcharts.theme)

Highcharts.chart('graf-ano', {
    title: {
        text: '{{titulo}}'
    },
    xAxis: {
        type: 'datetime',
    },
    yAxis: [{
        labels: {
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        title: {
            text: 'Número de Fornecedores',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
    }, {
        labels: {
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        title: {
            text: 'Total Pago (R$)',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
    }, {
        labels: {
            style: {
                color: Highcharts.getOptions().colors[4]
            }
        },
        title: {
            text: 'Porcentagem',
            style: {
                color: Highcharts.getOptions().colors[4]
            }
        },
        min: 0,
        max: 100,
        opposite: true,
    }],
    tooltip: {
        valueDecimals: 0,
        xDateFormat: '%Y',
        shared: true,
    },
    series: {{dados|safe}}
})


Highcharts.chart('graf-mes', {
    title: {
        text: '{{titulo}}'
    },
    xAxis: {
        type: 'datetime',
    },
    yAxis: [{
        labels: {
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
        title: {
            text: 'Número de Fornecedores',
            style: {
                color: Highcharts.getOptions().colors[1]
            }
        },
    }, {
        labels: {
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
        title: {
            text: 'Total Pago (R$)',
            style: {
                color: Highcharts.getOptions().colors[0]
            }
        },
    }],
    tooltip: {
        valueDecimals: 0,
        xDateFormat: '%Y/%m',
        shared: true,
    },
    series: {{dados_mes|safe}}
})
</script>
