{% extends "base.html" %}
{% block title %}Grupos - {% endblock %}
{% block content %}
<div class="bloco-centrado">
    <h2>Grupos</h2>
    <p>Como alguns grupos de mídia possuem várias razões socias, tentamos agrupá-las sob um mesmo "apelido". Em alguns caso o apelido foi usado apenas para deixar o nome mais simples e curto. Alguns fornecedores possuíam junto os CPFs dessas pessoas, esses números foram omitidos.</p>
    <p>A seguir temos uma tabela com os grupos e suas razões sociais, seguida de uma lista com todos os fornecedores que não foram agrupados. <b>É muito provável que muitos desses fornecedores não agrupados deveriam estar em algum dos grupos abaixo, ou ainda em novos grupos. Mas fazer esse levantamento é bastante trabalhoso, já que são muitos fornecedores. <a href="https://pad.okfn.org/p/gruposdemidia">Mas você pode ajudar!</a></b></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Apelido</th>
                <th>Razões Sociais</th>
            </tr>
        </thead>
        <tbody>
        # for apelido, razoes in grupos:
            <tr>
                <td>{{apelido}}</td>
                <td>
                    <ul>
                    # for razao in razoes:
                        <li>{{razao}}</li>
                    # endfor
                    </ul>
                </td>
            </tr>
        # endfor
        </tbody>
    </table>

    <h2>Não Agrupados</h2>
    <ul>
    # for razao in nao_agrupados:
        <li>{{razao}}</li>
    # endfor
    </ul>
</div>
{% endblock %}
