{% extends "base.html" %}
{% block title %}Maiores - {% endblock %}
{% block content %}
<div class="bloco-centrado">
    <h2>Pagamentos para Maiores Fornecedores</h2>
    <p>As linhas abaixo mostram quando foi pago para cada um dos {{n_maiores}} maiores fornecedores ao longo do tempo. Clicando no nome deles na legenda é possível escondê-los para melhor visualizar os restantes. {{aviso_grupos()}}</p>
</div>
<div id="graf-ano"></div>
<div id="graf-mes"></div>
{% include 'grafico.html' %}
{% endblock %}
