{% extends "base.html" %}
{% block content %}
<div class="bloco-centrado">
    <h2>Sobre</h2>
    <p>Esse site busca gerar algumas visualizações sobre os pagamentos efetuados pela <a href="http://secom.gov.br/">Secretaria de Comunicação Social da Presidência da República (SECOM)</a> a agências de propaganda. Clique nos links na barra acima para vê-las. <a href="https://sistema1.planalto.gov.br/secomweb2/demanda/execucaocontratual">Os dados foram extraídos dessa página.</a> E nós também os disponibilizamos, <a href="https://github.com/andresmrm/pagamentos-secom/raw/master/Planilha_Exportacao.xlsx">já em forma de planilha, do jeito que baixamos</a>. A atualização ainda não é automática, pois, como podem ver no site da SECOM, há um captcha, <a href="http://dados.gov.br/cartilha-publicacao-dados-abertos/">algo "extremamente desaconselhável" pelo próprio governo</a>. :-(</p>
    <p>Não há garantia de que as visualizações exibida aqui estão certas, mas esse site é um <a href="https://pt.wikipedia.org/wiki/Software_livre">software livre</a>, <a href="https://github.com/andresmrm/pagamentos-secom">então você mesmo pode conferir as contas feitas!</a></p>
</div>
{% endblock %}
